.forms{


	background-color: gray;
		width: 30%;
		height: 30%;
		padding-left: 30px;
		padding-top: 30px;


}

#log-in{
	length:50%;
	width: 50%;
	background-color: green;

}
	table{
		border: 1px;
	}
	.form{
			height: 50%;
			width: 30%;
			background-color: gray;
			text-align: center;
			padding: 20px;
		}
		.header{
			background-color:  gray;
			height: 50%;
			width: 35%;
		}
	.table{
		width: 50%;
		height: 50%;
		border: 1px;
		border-style: solid-black;
		background-color: solid black;

	}
	th{
		background-color: solid black;
	}
